$time-clock-radius       = 12vmin
$time-clock-inner-radius = 0.6vmin


.image__image

  background-color $main-bg-color
  box-shadow 0 0

  img 
    position relative
    max-width 100%
    top 50%
    transform translateY(-50%)

